:root {
  --bg-color-1: rgb(240, 240, 240);
  --bg-color-1-rgba: rgba(240, 240, 240, 0.8);
  --bg-color-2-rgba: rgba(0, 0, 0, 0.7);
  --bg-color-3: white;
  --text-color-1: rgb(182, 19, 247);
  --text-color-2: rgb(70, 70, 70);

  --width-1: 90vw;
  --width-1-alt: 40vw;
}

.dark-theme {
  --bg-color-1: rgb(40, 40, 40);
  --bg-color-1-rgba: rgba(40, 40, 40, 0.8);
  --bg-color-3: rgb(55, 55, 55);
  --text-color-2: rgb(255, 220, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg-color-1);
  width: 100vw;
  /*to prevent dragging the whole window on touch screen*/
  overflow-x: hidden;
}

section {
  margin: 2rem auto;
}
section:first-child {
  margin-top: 0;
}

section > h2 {
  text-align: center;
  color: var(--text-color-1);
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 1rem;
  letter-spacing: 3px;
}

h2 > i {
  margin-right: 1rem;
}

ul {
  row-gap: 1rem;
  list-style-type: none;
  color: var(--text-color-2);
}

a {
  text-decoration: none;
}

ul li {
  line-height: 1.5rem;
}

/* =======Header======== */
header {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.add-bg {
  background: var(--bg-color-1-rgba);
  box-shadow: 0 0.2rem 0.4rem 0 rgb(0, 0, 0, 0.2);
}

.nav-center {
  padding: 0.5rem 1rem;
  color: var(--text-color-1);
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn,
.theme-btn {
  font-size: 1.5rem;
  border: none;
  background: transparent;
  color: inherit;
}
.theme-btn:hover,
.nav-btn:hover {
  cursor: pointer;
}

.nav-name {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-name img {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
}

.nav-links {
  list-style-type: none;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
  font-size: 1.5rem;
}
.show-nav-links {
  padding-top: 1rem;
  height: 13rem;
}

.nav-links li {
  padding: 0.5rem 0;
}

.nav-links a {
  color: var(--text-color-1);
  transition: color 0.3s;
  letter-spacing: 3px;
}
.nav-links a:hover {
  color: var(--text-color-2);
}

/* =======main======== */

/* =======home======== */
.home {
  display: flex;
  justify-content: center;
  height: calc(100vw * 0.6);
  background-image: url(./img/home-bg.png);
  background-size: 100% 100%;
}

/* =======skills======== */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-list {
  display: grid;
  width: var(--width-1);
  background-color: var(--bg-color-3);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.skill-list li {
  border-bottom: var(--text-color-2) dotted 1px;
  padding-bottom: 0.5rem;
}

/* =======projects======== */
.projects {
  overflow: hidden;
}

.slider {
  display: inline-flex;
  margin: 0.5rem 0;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.slide-img {
  height: calc(var(--width-1) / 3 * 2);
  width: var(--width-1);
  border-radius: 0.5rem;
}

.slide {
  display: grid;
  justify-items: center;
  width: 100vw;
  padding: 0 1rem;
  row-gap: 1rem;
  transition: transform 0.3s ease-in-out;
}

.scale {
  transform: scale(0.9);
}

.slide-title {
  color: var(--text-color-2);
  font-size: 1.5rem;
  width: var(--width-1);
  border-bottom: var(--text-color-1) solid 2px;
  padding-bottom: 0.5rem;
}

.slide-info {
  color: var(--text-color-2);
  line-height: 1.5rem;
  width: var(--width-1);
}

.slide-btn {
  text-decoration: none;
  text-align: center;
  letter-spacing: 3px;
  height: max-content;
  max-width: 390px;
  background: none;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  color: var(--text-color-1);
  border: var(--text-color-1) solid 2px;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.slide-btn:hover {
  cursor: pointer;
  border-color: var(--bg-color-1);
  color: var(--bg-color-1);
  background-color: var(--text-color-1);
}

.pagination {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  column-gap: 1rem;
}

.bullet {
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  background-color: var(--text-color-2);
}

.bullet:hover {
  cursor: pointer;
}

/* =========awards========= */
.awards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.award-list {
  display: grid;
}

.award-list li {
  text-align: center;
  padding: 0.5rem 1rem;
  transition: transform 0.3s;
  width: var(--width-1);
  border-radius: 0.5rem;
  background-color: var(--bg-color-3);
}

.award-list li:hover {
  transform: scale(1.1);
}

/* ========footer========= */
footer {
  display: flex;
  justify-content: center;
  margin: 2rem auto 1rem;
}

footer span {
  color: var(--text-color-2);
}

/* =======For Large Screen======== */
@media screen and (min-width: 768px) {
  /* =======Header======== */
  .nav-btn {
    display: none;
  }

  .nav-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-header {
    column-gap: 0.5rem;
  }

  .nav-links {
    height: max-content;
    font-size: 1rem;
    font-weight: bold;
  }

  .nav-links li {
    display: inline-block;
    padding: 0.5rem 1rem;
  }

  /* =======main======== */

  /* =======home======== */
  .home {
    height: calc(100vw * 0.5);
  }

  /* =======skills======== */
  .skill-list {
    max-width: calc(var(--width-1-alt) * 2 + 2rem);
  }
  /* =======projects======== */
  .slide {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    justify-items: left;
  }

  .slide-img {
    grid-row: 1/4;
    justify-self: right;
    max-height: calc(var(--width-1-alt) / 3 * 2);
  }

  .slide-title,
  .slide-img,
  .slide-info {
    max-width: var(--width-1-alt);
  }

  /* ========awards========= */
  .award-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .award-list li {
    max-width: var(--width-1-alt);
  }
}
